!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DentallyQuestionApp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    .navbar
      .container-fluid
        .navbar-brand
          %a{href: "#"} Questions!
        %ul.navbar-nav
          - if signed_in?
            %li.nav-item
              %span.navbar-text Signed in as #{current_user.email}
            %li.nav-item
              = button_to 'Sign out', sign_out_path, method: :delete, class: 'btn btn-primary'
          - else
            %li.nav-item
              %button.btn= link_to 'Sign in', sign_in_path

    .container
      .row
        .col
          #flash
            - flash.each do |key, value|
              %div{class: bootstrap_flash_class(key)}= value

      = yield


